<div class="container"><br>
	<div class="row">
		<div class="col-lg-3">
			<%= render "devise/shared/sidebar" %>
		</div>

		<div class="col-lg-6" >
			<h2>カフェ一覧</h2>
			<%= render "devise/shared/cafe_index" %>
		</div>


		<div class="col-lg-3">
			<%= render "devise/shared/search" %>
		</div>
	</div>
</div>