/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

header {
	color:white;
}

body {
	margin-top: 40px;
}

.wrap-video{
  position:relative;
}

.wrap-video video{
  width: 100%;
  height:100%
}
.wrap-video video{
	opacity: 0.5;
}
//背景の動画を透明にする

.wrap-video .text{
  position:absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); //上下左右中央寄せ
  text-align:center;
}
//動画を背景のようにする為にテキストを浮かす


.search{
  min-height: 70vh;
  border-radius: 5px;
}
//右側のタグ検索部分


.cafe_index {
  margin-bottom: 5%;
  border: 3px solid #FBA926;
  border-radius: 7px;
}
.tag {
  margin: 6%;
  border: 4px solid #FBA926;
  border-radius: 5px;
}
//投稿一覧表示

.sidebar-post {
  min-height: 20vh;
  border: 2px solid #FBA926;
  border-radius: 7px;
  margin-bottom: 20px;
}

.sidebar-user {
  margin: 10px;
}

.sidebar-btn{
  margin-top: 60px;
  text-align: center;
  font-size: 15px;
  border-radius: 50px;
}

.nav-pills {
  font-size: 30px;
  margin-top: 70px;
}

.navlink {
  margin-bottom: 15px;
}
//サイドバー各所リンク

.about-page {
  font-size: 45px;
  margin-top: 70px;
  opacity:1;  // 最初は非表示にしておく 
  transform: translate(0, 0);
}
